body{
    margin: 0px;
    padding: 0px;
    font-family: 'Staatliches', cursive;
}

#container{
    width: 100%;
    height: 150px; 
    margin: auto;
    background-color: rgba(203, 7, 7, 0.9);
}
#logo{
    width: 200px;
    height: 150px;
    float: left;
}
#logo img{
    width: 150px;
    margin: 0px 20px 20px 130px;
}

#menu{
    width: 760px;
    height: 80px;
    float: right;
    text-align: center;
    word-spacing: 70px;
    text-decoration-color: green;
    margin-top: 50px;
}
#menu a{
    text-decoration: none;
    margin: 90px 0px 90px 0px;
}
#menu a:hover{
    color:red
}
#banner{
    width: 100%;
    height: 400px;
    margin: auto;
}
#banner img{
    width: 100%;
}

#texto{
    width: 960px;
    height: 200px;
    margin: auto;
}
#texto img{
    width: 100px;
    margin: 10px 100px 80px 110px;
}

#container2{
    width: 960px;
    height: 600px;
    margin: auto;
}
#textoesquerda{
    width: 440px;
    height: 600px;
    float: left;
}
#textodireita{
    width: 440px;
    height: 600px;
    float: right;
}

#rodape{
    width: 100%;
    height: 90px;
    background-color: rgba(203, 7, 7, 0.9);
    margin: auto;
}

.estilizacao{
    text-align: justify;
    font-size: 20px;
}

.titulo{
    text-align: center;
    font-size: 35px;
    color: red;
}

.menut{
    font-size: 25px;
    padding-right: 45px;
}

.rodtxt{
    text-align: center;
    color: black;
    padding-top: 35px;
}

.IMG{
    width: 200px;
    margin: 50px 90px 90px 270px;
}

.margin{
    margin-top: 30px;
}

.galeria{
    text-align: center;
    color: red;
    margin-top: 50px;
    font-size: 50px;
}

input {
    width: 100%;
    padding: 10px 20px;
    margin: 12px;
}

select{
    width: 100%;
    padding: 10px 20px;
    margin: 12px;
}

textarea{
width: 100%;
height: 200px;
padding: 10px 20px;
margin: 12px;
}